:root {
    --dark-background: #1f2937;
    --button-color: #3882f6;
    --quote-background: #e5e7eb;
}

html {
    display: block;
    margin: 0;
    padding: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.navigator {
    background-color: #1f2937f1;
    width: 100%;
    display: flex;
    font-size: 1.1em;
    position: fixed;
    top: 0;
    z-index: 60;
}

.header {
    color: #f9faf8;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
    min-width: 120px;
    margin-right: 22%;
    font-weight: bold;
    font-size: 1.2em;
}

.nav_list {
    color: var(--quote-background);
    display: flex;
    width: 20%;
    list-style-type: none;
    margin-right: 20px;
    justify-content: space-between;
    margin-left: 38%;
    margin-right: 5%;
    width: 400px;
}

.list {
    width: 130px;
}

main {
    position: relative;
    top: 56px;
    display: flex;
    flex-direction: column;
}

.first_div {
    background-color: var(--dark-background);
    color: #f9faf8;
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    max-width: 1903px;
}

.imagen-cielo {
    object-fit: cover; 
}

.first_div .first_section {
    width: 40%;
    margin-top: 30px;
    font-size: 1.2em;
}
.first_div  .first_section h1 {
    font-size: 2.2em;
}
.first_div .first_section .sign_up {
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    color: #f9faf8;
    width: 70px;
    height: 18px;
}

.first_div .images {
    display: flex;
    width: 40%;
}

.first_div .images-container {
    background-color: #e5e5e5;
    margin: 50px auto;
    color: #1f2937;
    width: 500px;
    height: 200px;
    position: relative;
    text-align: center;
    justify-content: center;
}

.placeholder {
    position: relative;
    top: 70px;
}

.second_div {
    text-align: center;
    justify-content: center;
}

.second_div .title {
    font-weight: bolder;
    font-size: 1.5em;
}

.second_div .list_cube {
    text-align: center;
    justify-content: space-between;
}

.second_div ul {
    display: flex;
    list-style-type: none;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    justify-content: space-between;
    padding: 0;
}

.second_div ul .cube {
    border: 3px solid #3882f6;
    width: 150px;
    height: 120px;
    border-radius: 10px;
}

.second_div ul .text_under {
    font-size: 13px;
    width: 130px;
    margin-left: 13px;
    margin-right: 13px;
    color: #6a6a6b;
}

.third_div {
    background-image: url("https://services.meteored.com/img/article/cuantos-azules-tiene-el-cielo-289011-2_1024.jpg");
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    background-color: var(--quote-background);
    height: 300px;
}

.third_div blockquote {
    width: 38%;
    margin: 90px auto;
}

.third_div .quote {
    font-size: 1.6em;
    font-style: light italic;
    margin-bottom: 0;
}

.third_div .author {
    font-weight: bold;
    text-align: right;
}

.fourth_div {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 300px;
}

.fourth_div .block {
    display: flex;
    background-color: var(--button-color);
    color: var(--quote-background);
    width: 45%;
    height: 100px; 
    margin-top: 100px;
    border-radius: 7px;
}

.fourth_div .block .text {
    width: 70%;
    font-size: .8em;
    text-align: left;
    margin-top: 30px;
    margin-left: 70px;
}

.fourth_div .block .text h3, .fourth_div .block .text p {
    margin: 0;
}

.fourth_div .block .button {
    margin: auto;
}

.fourth_div .block .button .sign_up2 {
    background-color: var(--button-color);
    border: 1px solid var(--quote-background);
    border-radius: 4px;
    color: var(--quote-background);
    width: 70px;
    height: 22px;
}

footer {
    height: 150px;
    background-color: var(--dark-background);
    color: #f9faf8;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
}